# Clustering Exploration

### Import Dataset

In [22]:
import pandas as pd 
import numpy as np


df = pd.read_csv('dataset/tennis.csv')
df = df.drop('day', axis = 1)

features = df.drop('play', axis = 1)
labels = df.drop(list(features), axis = 1)

In [35]:
df.head(5)
features.head(5)
labels

   play
0    No
1    No
2   Yes
3   Yes
4   Yes
5    No
6   Yes
7    No
8   Yes
9   Yes
10  Yes
11  Yes
12  Yes
13   No

### One Hot Encoder 

Konversi data kategorik menjadi sparse

In [25]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

features = pd.get_dummies(features)
features.head()

,outlook_Overcast,outlook_Rain,outlook_Sunny,temp_Cool,temp_Hot,temp_Mild,humidity_High,humidity_Normal,wind_Strong,wind_Weak
0,0,0,1,0,1,0,1,0,0,1
1,0,0,1,0,1,0,1,0,1,0
2,1,0,0,0,1,0,1,0,0,1
3,0,1,0,0,0,1,1,0,0,1
4,0,1,0,1,0,0,0,1,0,1

### K-Means

In [51]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=0)

kmeans.fit(features)
result = kmeans.predict(features)

print(result)

[1 1 1 1 0 0 0 1 0 0 0 1 0 1]

### Agglomerative Clustering

In [45]:
from sklearn.cluster import AgglomerativeClustering

clustering = AgglomerativeClustering()
result = clustering.fit_predict(features)

print(result)

[0 0 0 0 1 1 1 0 1 1 0 0 0 0]